@font-face {
  font-family: "iconfont"; /* Project id 3786258 */
  src: url('iconfont.woff2?t=1669106002759') format('woff2'),
       url('iconfont.woff?t=1669106002759') format('woff'),
       url('iconfont.ttf?t=1669106002759') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gantanhaozhong:before {
  content: "\e8e5";
}

.icon-close:before {
  content: "\e6a7";
}

.icon-xiajiantou:before {
  content: "\e649";
}

.icon-xiazaidaoru:before {
  content: "\e8c6";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-shangjiantou:before {
  content: "\e60a";
}

